<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" sizeXs="12" *ngFor="let contact of contacts">
        <ion-card>
          <img src="{{contact.image}}" alt="{{contact.name}}">
          <ion-card-header>
            <ion-card-subtitle>
              {{contact.name}}
            </ion-card-subtitle>
            <ion-card-title>
              {{contact.phoneNumber}}
            </ion-card-title>
          </ion-card-header>
          <ion-item routerLink="/contact/{{contact.id}}" detail>
            <ion-icon name="more" slot="start"></ion-icon>
            <ion-label>Detalhes</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addContact()" color="danger">
      <ion-icon name="add" alt="Adicionar Contato"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>