 <ion-card>
   <ion-item>
     <br>
     <ion-grid>
       <ion-row>
         <ion-col sizeXs="5" sizeSm="3" sizeMd="5">
           <ion-avatar>
             <img src="{{contact.image}}" alt="{{contact.name}}">
           </ion-avatar>
         </ion-col>
         <ion-col sizeXs="7" sizeSm="8" sizeMd="7">
           <ion-label style="text-align: center">{{contact.name}}</ion-label>
           <ion-row>
             <ion-col size="12">
               <small style="text-align: center">{{contact.email}}</small>
             </ion-col>
           </ion-row>
           <ion-row>
             <ion-col size="12">
               <small style="text-align: center">{{contact.phoneNumber|phone:'BR'}}</small>
             </ion-col>
           </ion-row>
         </ion-col>
       </ion-row>


     </ion-grid>
   </ion-item>
   <ion-card-content>
     <ion-button (click)="editContact(contact)" expand="full">
       <ion-icon name="edit" slot="start"></ion-icon>
       <ion-label>Alterar Contato</ion-label>
     </ion-button>
   </ion-card-content>
   <ion-item routerLink="/contact/{{contact.id}}" detail>
     <ion-icon name="more" slot="start"></ion-icon>
     <ion-label>Detalhes</ion-label>
   </ion-item>

 </ion-card>